.home-slide {
	/*background-image: url(../imgs/torta1.jpg);*/
	width: 100%;
	height: 30%;
	/*height: 50vh;*/
	background-position: left;
	background-size: cover;
	margin-top: 0px;
}

.tbn-img {
	
	height: 20vh !important;
}

.margin-t5{
	margin-top: 3%;
}

.margin-tmais{
	margin-top:5%;
}

.no-margin-b{
	position: absolute;
	bottom: 0;
}
.margin-col{
	margin-left: 5%;
}

header .navbar { margin-bottom: 0; }

.navbar-paprica {
	background-color: #FF5722;
	border-color: #FF5722;
	border-radius: 0;
}

.paprica {
	background-color: #FF5722;  /*#F0460A;*/
}

.cinzou{
	background-color: #ededed;
}

.caixabranca{
	background-color: white;
	display: table;
	margin: 40px auto;
}

.branco {
	color:white;
 }

.thumbnail-title{
	font-size: 18px;
	text-align: center;
	color: #1c2829;
	margin: 10px auto;
}

.preto {
	background-color: black;
}

.borda{
	border-left: 2px solid white;
	margin-top: 10px;
	margin-bottom: 10px;

}

.icones-redes{
	font-size: 30px;
	color: #F0460A;
}

.icones-redes:hover{
	color:#ea5521;
}

.meio{
	display:flex;
	justify-content:center;
	align-items:center;
}

.row.meio {
   margin-right: 0 !important;
}

.carousel-inner>.item {
	height: 60vh;
	background-position: center;
	background-size: cover;
}

li>a.branco:hover{
	background-color:#d63800 !important;
}
li>a.branco:active{
	background-color:#d63800 !important;
}
ul {
  list-style-type: none;
}

.no-style{
	text-decoration: none;
	color: black;
}
.no-style:hover{
	text-decoration: none;
	color: #FF5722;
}

.footer{
	left: 0;
	bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.absoluto{
	bottom: 0;
	position: absolute;
}

.profile-user-pic{
	
	width: 25%;
	height: 25%;
}
.admin-edit-pic{
	
	width: 35%;
	height: 40%;
}

.visited-user-pic{

	
}

.miniatura-img{
	width: 4vw;
	height: 5vh;
}

.menu-user-pic{
	height: 24px;
	width: 24px;
	border-radius: 50%;
	overflow: hidden;
	display: inline;
	margin: 2px 6px 2px -8px;

}

.shadow{
	font-size: 50px;
	opacity:0.75;
}

/*ul.ingredientes:nth-child(even){
	background-color: grey;
}

ul.ingredientes:nth-child(odd){
	background-color: white;
}*/

/*.min-alt{
	min-height: 100vh;
}*/